/* COMMON */
*{
  margin: 0;
  padding: 0;
}

body {}
.page {
  background-image: url('/images/anonymous-server-background.jpg');
  background-size: cover;

  height: 100vh;
}




/* HEADER */
.page__header {}
.nav-trigger {}




/* MENU */
.nav {}
.nav__items {}
.nav__item {}
.nav__link {}
.nav-close {}




/* MAIN */
.page__main {}
.page__wrapper {}
.page__main-title {}




/* FOOTER */
.page__footer {}
.page__footer {}
.page__footer-copy {}
